[user]
	name = Andrii Shafar
	email = andriishafar69@gmail.com
	signingkey = C498D2CC37092DEE
[commit]
	gpgsign = true
[pull]
	rebase = false
[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/
[core]
	sshCommand = ssh -o IdentityAgent=~/.ssh/agent.sock -o IdentitiesOnly=no
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
[merge]
    conflictStyle = zdiff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
